
.reloj-mundial{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.1); /* Sombra interna sutil */
}

.contenedor-reloj-mundial {
    padding: 20px;
    border-radius: 30px;
    background-color: #737373;
    box-sizing: border-box;
}

iframe {
    max-width: 100%;
}